.github
.git
.deploy.env
.env
.env.production
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
.gomodcache
.gopath
.cache
.local-*
data
logs
/web/node_modules
/web/default/node_modules
/web/classic/node_modules
!THIRD-PARTY-LICENSES.md
