PUBLIC_HOST=example.com
TRUSTED_REDIRECT_DOMAINS=example.com

POSTGRES_USER=newapi
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=new_api

REDIS_PASSWORD=change-this-redis-password
SESSION_SECRET=change-this-session-secret
CRYPTO_SECRET=change-this-crypto-secret

TZ=Asia/Shanghai
NODE_NAME=new-api-prod-1
